* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
    background-image: url("https://www.dropbox.com/s/vdyictqgq0myw7a/bobs_bg2.jpg?raw=1");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}

/* Game Title and Counter */
.title {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.logo {
	width: inherit;
	height: inherit;
	margin: auto;
	background-image: url("https://www.dropbox.com/s/2ogvxf0alhmx0i1/bobs_logo.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: 90% auto;
	background-position: center;
}

.watch-container {
	margin: auto;
	display: flex;
	flex-direction: row;
	height: auto;
	width: 96%;
	color: black;
	text-align: center;
	background-color: red;
	border: 5px solid black;
}

#display {
	width: 50%;
}

.buttons {
	text-align: center;
}

.counter {
	width: 50%;
}

/* Memory Game */
.game-container {
    width: 95%;
    margin: auto;
    background-color: rgba(255, 240, 0, .7);
    padding-top: 10px;
    border: 5px solid black;
}

.row-container {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	perspective: 1000px;
}

.memory-card {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	margin: auto;
	transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

/*Click on card animation*/
.memory-card:active{
    transform: scale(.97);
    transition: .2s;
}

/* Flip card animation */
.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face, .back-face {
	margin: auto;
	height: inherit;
	width: inherit;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

/* Image URL's */
/* Back face of card */
.back-face {
	background-image: url("https://www.dropbox.com/s/g4a39sk9s38kafx/burger.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: solid 3px red;
}