* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}

/* Game Title and Counter */
.title {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
    z-index: 1;
}

.logo {
	display: block;
	width: 98%;
	max-width: 500px;
	margin: auto;
    box-shadow: 5px 10px 25px rgba(61, 61, 61, 1);
}

.watch-container {
	margin: 5px auto;
	display: flex;
	flex-direction: row;
	height: auto;
	width: 80%;
	max-width: 400px;
	color: black;
	text-align: center;
	background-color: red;
	border: 4px solid black;
    box-shadow: 5px 10px 25px rgb(0, 0, 0);
}

.current-score {
	font-size: 14px;
	width: 50%;
}

.buttons {
	text-align: center; 
}

/* Memory Game */
.game-container {
    width: 320px;
    height: 320px;
    margin: auto;
    padding: 2px;
    background-color: rgba(255, 240, 0, .7);
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 10px 25px rgb(0, 0, 0);
    perspective: 1000px;
}

.memory-card {
	height: 24%;
	width: 24%;
	border-radius: 50%;
	position: relative;
	margin: auto;
	transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

/*Click on card animation*/
.memory-card:active{
    transform: scale(.97);
    transition: .2s;
}

/* Flip card animation */
.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face, .back-face {
	height: 100%;
	width: 100%;
    margin: auto;
    position: absolute;
	border-radius: 50%;
	background-color: black;
    border: solid 3px red;
	backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

/* Load animation */
.load {
	background-color: white;
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
    z-index: -1;
}

.load img {
    height: 200px;
    width: 200px;
	display: block;
	margin: auto;
	opacity: 0;
}

.title, .game-container {
	opacity: 0;
}

/* Game Complete Modal */
.game-complete {
    background-color:  rgba(252, 239, 84, .7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none; /*<------ flex */
    z-index: 99;
}

.complete-box {
    height: 180px;
    width: 300px;
    background-image: url("https://www.dropbox.com/s/fw46nlqetj0q561/game-complete.jpg?raw=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
	margin: auto;
    box-shadow: 5px 10px 25px rgb(0, 0, 0);
    
}

.score-board {
    width: 90%;
    text-align: center;
    margin: 90px auto auto auto;
    display: flex;
    flex-direction: row;
    color: white;
    padding: auto;
}

.final-display {
	font-size: 17px;
	width: 50%;
}

/* Image URL's */
/* Background images */
.restaurant-bg {
    background-image: url("https://www.dropbox.com/s/vdyictqgq0myw7a/bobs_bg2.jpg?raw=1");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* Back face of card */
.back-face {
	background-image: url("https://www.dropbox.com/s/g4a39sk9s38kafx/burger.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Front face of cards*/
.bob {
	background-image: url("https://www.dropbox.com/s/nmbz9mezkmy0mqo/bob_belcher.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.linda {
	background-image: url("https://www.dropbox.com/s/2ry298w6kobx31u/linda_belcher.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tina {
	background-image: url("https://www.dropbox.com/s/y615hry8ee1gdk4/tina_belcher.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gene {
	background-image: url("https://www.dropbox.com/s/6ybfh90wa7qbz3h/gene_belcher.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.louise {
	background-image: url("https://www.dropbox.com/s/i2mc360tnee97uz/louise_belcher.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.teddy {
	background-image: url("https://www.dropbox.com/s/62ka5yh92se986s/teddy.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.marshmellow {
	background-image: url("https://www.dropbox.com/s/gzdhd5u4dlczbdv/marshmellow.png?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.dryap {
	background-image: url("https://www.dropbox.com/s/iayw0o3b0eba0ub/dr_yap.jpg?raw=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Smart device layouts */

@media screen and (min-width: 400px) {

    .current-score {
	    font-size: 17px;
    }

    .game-container {
        width: 390px;
        height: 390px;
    }

}

@media screen and (min-width: 550px) {

    .current-score {
	    font-size: 20px;
    }

    .game-container {
        width: 450px;
        height: 450px;
    }

    .back-face, .front-face {
        border: solid 5px red;
    }
}
