* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    font-weight: 200;
}


/* Mute and Reset Button */
.mute-button {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
    margin: 5px;
    padding: 0 5px;
    cursor: pointer;
    z-index: 99;
    transform: scale(1);
}

.mute-button h1 {
    height: 30px;
    width: 30px;
    color:rgb(0, 0, 0);
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 50%;
    background-color: rgb(55, 189, 217);
}

.unmute {
    display: none;
}

.button {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8px;
    color: rgb(0, 0, 0);
    margin: 5px;
    background-color: white;
    padding: 0 5px;
    border: solid black 3px;
    opacity: 0;
    transform: scale(1);
}

.click:active {
    transform: scale(.97);
    transition: .2s;
}

.options {
    display: none;
}

.pointer {
    cursor: pointer;
}

.blue-yes, .red-no{
    padding: 0 4px 0 4px;
    border: solid rgb(0, 0, 0) 3px;
    background-color: rgb(255, 240, 0);
}

.red-no:hover {
    text-decoration: underline;
    background-color: rgb(218, 10, 0);
    border: solid black 3px;
}

.blue-yes:hover {
    text-decoration: underline;
    background-color: rgb(55, 189, 217);
    border: solid black 3px;
}

/* Game Title and Counter */
.title {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 20px;
    z-index: 1;
}

/* Title Level 3 */
.title.large {
    padding-bottom: 2px;
}

.logo {
    display: block;
    width: 98%;
    margin: auto;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.705);
}

.watch-container {
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
    color: black;
    text-align: center;
    background-color: rgb(218, 10, 0);
    border: 4px solid black;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.705);
}

.current-score {
    font-size: 14px;
    width: 50%;
}

/* Memory Game */
/* Level 1*/
.game-container {
    width: 320px;
    height: 320px;
    margin: auto;
    padding: 2px;
    background-color: rgba(255, 240, 0, .7);
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.705);
    perspective: 1000px;
    -webkit-perspective: 1000; /* iPhone's */
}

.memory-card {
    height: 24%;
    width: 24%;
    border-radius: 50%;
    position: relative;
    margin: auto;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

/* Level 2*/
.game-container.medium {
    height: 350px;
    width: 280px;
}

.memory-card.medium {
    height: 19%;
}

/* Level 3 */
.game-container.large {
    height: 360px;
    width: 240px;
}

.memory-card.large {
    height: 15.5%;
}

/*Click on card animation*/
.memory-card:active {
    transform: scale(.97);
    transition: .2s;
}

/* Flip card animation */
.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face, .back-face {
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    border: solid 3px red;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* iPhone's */
}

.front-face{
    transform: rotateY(180deg);
}

/* Load animation */
.load {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: -1;
}

.load img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    opacity: 0;
}

.title, .game-container {
    opacity: 0;
}

.loadout {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 1;
    z-index: 98;
    display: none;
}

/* Game Start Modal */
.start-container {
    display: none;
}

.welcome {
    background-color:  rgba(55, 189, 217, .7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 97;
}

.rule-box {
    height: auto;
    width: 315px;
    background-color:  rgb(255, 255, 255);
    display: block;
    margin: auto;
    box-shadow: 5px 10px 25px rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.play {
    padding: 5px;
    background-color: rgb(218, 10, 0);
    border: solid black 3px;
    margin: 10px auto auto auto;
    cursor: pointer;
    transform: scale(1);
    width: 100px;
}

.play:hover {
    background-color: rgb(255, 240, 0);
}

/* Game Complete Modal */
.board-container {
    display: none;
}

.game-complete {
    background-color:  rgba(252, 239, 84, .7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 97;
}

.complete-box {
    height: 180px;
    width: 300px;
    background-image: url("https://www.dropbox.com/s/fw46nlqetj0q561/game-complete.jpg?raw=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    margin: auto;
    box-shadow: 5px 10px 25px rgb(0, 0, 0);
    opacity: 0;
}

.score-board {
    text-align: center;
    margin: 75px auto auto auto;
    display: flex;
    flex-direction: row;
    color: white;
}

.final-display {
    font-size: 17px;
    width: 50%;
}

.again {
    display: block;
    margin: auto;
    text-align: center;
    width: 120px;
    background-color: rgb(255, 240, 0);
    border: solid black 3px;
    margin-top: 3px;
    cursor: pointer;
    transform: scale(1);
}

.next-option {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.again:active{
    transform: scale(.97);
    transition: .2s;
}

.again:hover {
    background-color: rgb(55, 189, 217);
    color: rgb(0, 0, 0);
    border: solid white 3px;
}

/* Smart device layouts */
@media screen and (min-width: 360px) {

    .game-container.large {
        height: 390px;
        width: 260px;
    }
    
}

@media screen and (min-width: 400px) {

    .current-score {
        font-size: 17px;
    }

    .game-container {
        width: 390px;
        height: 390px;
    }

    .game-container.medium {
        height: 450px;
        width: 360px;
    }

    .game-container.large {
        height: 450px;
        width: 300px;
    }

    .complete-box {
        height: 210px;
        width: 350px;
    }

    .score-board {
        margin-top: 85px;
    }

    .again {
        margin-top: 7px;
    }

}

@media screen and (min-width: 550px) {

    .logo {
        width: 500px;
    }

    .watch-container {
        width: 400px;
    }

    .current-score {
        font-size: 20px;
    }

    .game-container {
        width: 430px;
        height: 430px;
    }

    .game-container.medium{
        height: 510px;
        width: 638px;
    }

    .game-container.large {
        width: 600px;
        height: 400px;
    }

    .memory-card.medium {
        height: 24%;
        width: 19%;
    }

    .memory-card.large {
        height: 24%;
        width: 15.5%;
    }

    .back-face, .front-face {
        border: solid 5px red;
    }

    .complete-box {
        height: 240px;
        width: 400px;
    }

    .score-board {
        margin-top: 100px;
    }

    .final-display {
        font-size: 21px;
    }

    .again {
        width: 150px;
    }

}

@media screen and (min-height: 1000px) {

    .logo {
        width: 700px;
    }

    .watch-container {
        width: 680px;
    }

    .title.medium {
        padding-bottom: 2px;
    }

    .title.large {
        padding-bottom: 0px;
    }

    .game-container {
        width: 550px;
        height: 550px;
    }

    .game-container.medium {
        width: 525px;
        height: 656px;
    }

    .game-container.large {
        height: 645px;
        width: 430px;
    }

    .memory-card.medium {
        height: 19%;
        width: 24%;
    }

    .memory-card.large {
        height: 15.5%;
        width: 24%;
    }

    .current-score {
        font-size: 30px;
    }

}

@media screen and (min-height: 1300px) {

    .logo {
        width: 780px;
    }

    .watch-container {
        width: 680px;
    }

    .title.medium {
        padding-bottom: 20px;
    }

    .title.large {
        padding-bottom: 20px;
    }

    .game-container {
        width: 750px;
        height: 750px;
    }

    .game-container.medium {
        width: 700px;
        height: 875px;
    }

    .game-container.large {
        height: 900px;
        width: 600px;
    }

    .current-score {
        font-size: 30px;
    }

    .rule-box {
        width: 500px;
        font-size: 20px;
    }
    
}

/* Image URL's */
/* Background images */
.restaurant-bg {
    background-image: url("https://www.dropbox.com/s/vdyictqgq0myw7a/bobs_bg2.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Back face of card */
.back-face {
    background-image: url("https://www.dropbox.com/s/g4a39sk9s38kafx/burger.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Front face of cards*/
.bob {
    background-image: url("https://www.dropbox.com/s/nmbz9mezkmy0mqo/bob_belcher.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.linda {
    background-image: url("https://www.dropbox.com/s/2ry298w6kobx31u/linda_belcher.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tina {
    background-image: url("https://www.dropbox.com/s/y615hry8ee1gdk4/tina_belcher.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gene {
    background-image: url("https://www.dropbox.com/s/6ybfh90wa7qbz3h/gene_belcher.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.louise {
    background-image: url("https://www.dropbox.com/s/i2mc360tnee97uz/louise_belcher.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.teddy {
    background-image: url("https://www.dropbox.com/s/62ka5yh92se986s/teddy.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mort {
    background-image: url("https://www.dropbox.com/s/qabfweaucg2aple/mort.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wobbles {
    background-image: url("https://www.dropbox.com/s/6cuqtf4j6ycrvui/m_wobbles.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.marshmellow {
    background-image: url("https://www.dropbox.com/s/jy35alc6y1f98rn/marshmellow.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dryap {
    background-image: url("https://www.dropbox.com/s/iayw0o3b0eba0ub/dr_yap.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gayle {
    background-image: url("https://www.dropbox.com/s/rd5piv4x6oumdm3/gayle.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hugo {
    background-image: url("https://www.dropbox.com/s/i3whwy25ah24op7/hugo.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gretchen {
    background-image: url("https://www.dropbox.com/s/lmyd5eewfhw1p2a/gretchen.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fischoeder {
    background-image: url("https://www.dropbox.com/s/imq6o2eqb51pxi6/mr_fischoeder.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.frond {
    background-image: url("https://www.dropbox.com/s/334yqr51ot09du6/mr_frond.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tammy {
    background-image: url("https://www.dropbox.com/s/ha7l2mjxpy4unzy/tammy.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.zeke {
    background-image: url("https://www.dropbox.com/s/m6dn01ef3ndkp0x/zeke.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jimmyjr {
    background-image: url("https://www.dropbox.com/s/kd3z5d9ytfm1d6v/jimmy_jr.jpg?raw=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}